<% layout('/layouts/boilerplate') %>

<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image %>" alt="" />
<li>description : <%= campground.description %></li>
<li>price : <%= campground.price %></li>
<a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
<a href="/campgrounds">Back to Index</a>
