<% layout('/layouts/boilerplate') %>

<h1><%= campground.title %></h1>
<li>title : <%= campground.title %></li>
<li>location : <%= campground.location %></li>
<li>description : <%= campground.description %></li>
<li>price : <%= campground.price %></li>
<a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
<a href="/campgrounds">Back to Index</a>
